@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #35d76b;
  
}

.nav{
  height: 100vh;
  width: 30vw;
  background-color: rgb(10, 9, 37);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav ul li{
  color: white;
  font-family: 'Kanit', sans-serif;
  letter-spacing: 7px;
  list-style: none;
  font-size: 3vw;
}
.nav ul li a{
  text-decoration: none;
  color: white;
}

.home{
  border-left:30vw solid black ;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .image{
  width: 90%;
}
.home .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  font-family: 'Kanit', sans-serif;
  color: rgb(10, 9, 37); 
  font-size: 1.5vw;
}

.portfolio,.about,.contact{
  height: 100vh;
  border-left:30vw solid black ;
   font-family: 'Kanit', sans-serif;
  color: rgb(10, 9, 37); 
  text-align: center;
}
.portfolio h1{
  font-size: 5vw;
}

.portfolio .works{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 60vw;
  justify-content: center;
  align-items: center;
}
.portfolio .works .work{
  height: 50vh;
  width: 18vw ;
  margin: 20px 30px;
  border-radius: 30px;
  background-color: rgb(225, 225, 225);
}
.portfolio .works .work .pic{
  height: 50%;
  width: 80%;
  border-radius: 30px;
  background-image: url('./works/ArcadeXplorer.png');
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 40px;
}
.portfolio a{
  text-decoration: none;
  color: black;
}

.about{
  font-size: 1vw;
  padding: 0 30px ;
}
.about h1{
  font-size: 5vw;
}

.contact {
  text-align: end;
  padding-left: 40px;
  padding-right: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contact h1{
  font-size: 5vw;
}
.contact p{
  font-size: 1.2vw;
}
.contact .icons{
  margin-top: 30px;
  margin-left:40%;
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.contact .icons a{
  text-decoration: none;
  margin-right: 0px;
  font-size: 2vw;
  color: rgb(12, 33, 56)
}